body {
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-transform: none;
    color: white;
}

h1, h2 {
    margin: 0;
}

header {
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "contact name image"
    "contact name image"
    "contact goals image"
    "skill skill image"
    "education experience image";
}

.contact img {
    height: 50px;
    width: 50px;
    filter: invert(100%);
    margin: 10px;
}

.contact, .education, .experience, .goals, .name, .skill {
    padding: 10px;
}

h2 {
    color: white;
}

.contact {
    grid-area: contact;
    background-color: #1F2041;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contactIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.name {
    grid-area: name;
    background-color:#FFC857;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
}

.goals {
    grid-area: goals;
    background-color: #4b3f72;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill {
    grid-area: skill;
    background-color: #119DA4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education {
    grid-area: education;
    background-color: #4B3F72;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience {
    grid-area: experience;
    background-color: #19647E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    grid-area: image;
    height: 100vh;
    box-sizing: border-box;
    max-width: auto;
}

.image img {
    height: auto;
    width: 100%;
}

.goals:hover, .skill:hover, .education:hover, .experience:hover {
    opacity: 0.9;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "goals goals"
    "skill skill"
    "language language"
    "education experience"
    "contact contact";
}

#goals, #skill, #language, #education, #experience, #contact, .goal1, .goal2, .goal3, .goal4 {
    padding: 30px 20px 15px;
}

#goals {
    grid-area: goals;
    background-color: #4b3f72;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: #FFC857;
}

.goalsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("images/confetti.png");
}

#skill {
    grid-area: skill;
    background-color: #119DA4;
}

.skillgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.skill1, .skill2, .skill3, .skill4, .skill5, .skill6, .skill7, .goal1, .goal2, .goal3, .goal4 {
    margin: 20px;
}

#language {
    grid-area: language;
    background-color: #1F2041;
    background-image: url("images/vippng.com-geometric-png-1151770.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.languageflex {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

#education {
    grid-area: education;
    background-color: #4B3F72;
}

#experience {
    grid-area: experience;
    background-color: #19647E;
}

em {
    display: inline-block;
    margin-bottom: 30px;
}

#experience h3, #education h3 {
    margin: 10px auto 1px;
}

#experience p, #education p, ul {
    margin: 1px auto 1px;
}

#contact {
    grid-area: contact;
    background-color: #1F2041;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    background-image: url("images/geometry-clipart-background-transparent.png");
    background-repeat: no-repeat;
    background-position: right center;

}

#contact img {
    height: 50px;
    width: 50px;
    filter: invert(100%);
    margin: 17px;
}

main h2 {
    text-align: center;
}

main h2, main p, main h3, main ul {
    color: white;
}

img[src="images/upwork.svg"] {
    height: 58px !important;
    width: 58px !important;
}

footer {
    background-color:#FFC857;
    text-align: center;
    margin: 0;
    padding: 10px;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 1320px) {

    header {
        display: grid;
        grid-template-columns: 10fr 10fr 15fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "contact name image"
        "contact name image"
        "contact goals image"
        "skill skill image"
        "education experience image";
    }

    .image img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

}

@media screen and (max-width: 800px) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "goals experience"
        "skill image"
        "education image"
        "name name"
        "contact contact";
    }

    .image img {
        display: none;
    }

    .image {
        height: 100%;
        width: 100%;
        background-image: url("images/DSC_6192.JPG");
        background-size: cover;
    }



    .contact, .education, .experience, .goals, .name, .skill {
        opacity: 1;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "goals"
        "skill"
        "language"
        "education" 
        "experience"
        "contact";
    }
    
    #goals, #skill, #language, #education, #experience, #contact, .goal1, .goal2, .goal3, .goal4 {
        padding: 30px 10px 15px;
    }

    .goalsgrid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .skillgrid {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .languageflex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 15px;
    }

    .experienceFlex, .educationFlex {
        display: flex;
        flex-direction: column-reverse;
    }

    #contact {
        grid-area: contact;
        background-color: #1F2041;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 15px;
        background-image: none;
    }

    .skill1, .skill2, .skill3, .skill4, .skill5, .skill6, .skill7, .goal1, .goal2, .goal3, .goal4 {
        padding: 0px;
    }
}
