body {
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-transform: none;
    color: white;
}

h1, h2 {
    margin: 0;
}

header {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 2fr auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "contact name image"
    "contact name image"
    "contact goals image"
    "skill skill image"
    "education experience image";
}

.contact img {
    height: 50px;
    width: 50px;
    filter: invert(100%);
    margin: 10px;

}

.contact, .education, .experience, .goals, .name, .skill {
    padding: 10px;
}

h2 {
    color: white;
}

.contact {
    grid-area: contact;
    background-color: #1F2041;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.name {
    grid-area: name;
    background-color:#FFC857;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
}

.goals {
    grid-area: goals;
    background-color: #4b3f72;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill {
    grid-area: skill;
    background-color: #119DA4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education {
    grid-area: education;
    background-color: #4B3F72;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience {
    grid-area: experience;
    background-color: #19647E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    grid-area: image;
    max-height: 100vh;
}

.image img {
    max-height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "goals goals"
    "skill skill"
    "language language"
    "education experience"
    "contact contact";
}

#goals {
    grid-area: goals;
    background-color: #4b3f72;
}

#skill {
    grid-area: skill;
    background-color: #119DA4;
}

#language {
    grid-area: language;
    background-color: #1F2041;
}

#education {
    grid-area: education;
    background-color: #4B3F72;
}

#experience {
    grid-area: experience;
    background-color: #19647E;
}

#contact {
    grid-area: contact;
    background-color: #1F2041;
    display: flex;
    justify-content: center;

}

#contact img {
    height: 50px;
    width: 50px;
    filter: invert(100%);
    margin: 17px;
}

main h2 {
    text-align: center;
}

main h2, main p, main h3, main ul {
    color: white;
}


footer {
    background-color:#FFC857;
    text-align: center;
    margin: 0;
    padding: 10px;
}

footer p {
    margin: 0;
}